In [3]:
from fplpandas import FPLPandas
import numpy as np
import pandas as pd

In [4]:
fpl = FPLPandas()

In [5]:
teams = fpl.get_teams()
teams

,code,draw,form,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
id,,,,,,,,,,,,,,,,,,,,
1,3,0,None,0,Arsenal,0,0,0,ARS,4,None,False,0,1190,1210,1170,1210,1190,1200,1
2,7,0,None,0,Aston Villa,0,0,0,AVL,3,None,False,0,1150,1160,1150,1150,1180,1210,2
3,36,0,None,0,Brighton,0,0,0,BHA,3,None,False,0,1080,1100,1150,1180,1090,1100,131
4,90,0,None,0,Burnley,0,0,0,BUR,2,None,False,0,1050,1080,1120,1190,1010,1030,43
5,8,0,None,0,Chelsea,0,0,0,CHE,4,None,False,0,1260,1280,1240,1280,1270,1310,4
6,31,0,None,0,Crystal Palace,0,0,0,CRY,3,None,False,0,1110,1150,1100,1150,1020,1050,6
7,11,0,None,0,Everton,0,0,0,EVE,3,None,False,0,1180,1210,1150,1170,1210,1250,7
8,54,0,None,0,Fulham,0,0,0,FUL,2,None,False,0,1000,1020,1020,1030,1020,1020,34
9,13,0,None,0,Leicester,0,0,0,LEI,4,None,False,0,1220,1240,1190,1190,1200,1180,26
10,2,0,None,0,Leeds,0,0,0,LEE,3,None,False,0,1100,1130,1060,1110,1130,1160,9
11,14,0,None,0,Liverpool,0,0,0,LIV,5,None,False,0,1320,1360,1240,1320,1330,1350,10
12,43,0,None,0,Man City,0,0,0,MCI,5,None,False,0,1310,1360,1260,1320,1330,1350,11
13,1,0,None,0,Man Utd,0,0,0,MUN,4,None,False,0,1230,1230,1220,1230,1250,1260,12
14,4,0,None,0,Newcastle,0,0,0,NEW,3,None,False,0,1100,1130,1100,1120,1010,1060,23
15,49,0,None,0,Sheffield Utd,0,0,0,SHU,3,None,False,0,1070,1100,1110,1130,1010,1050,18
16,20,0,None,0,Southampton,0,0,0,SOU,3,None,False,0,1150,1180,1140,1200,1110,1160,20
17,6,0,None,0,Spurs,0,0,0,TOT,4,None,False,0,1270,1280,1190,1240,1280,1320,21
18,35,0,None,0,West Brom,0,0,0,WBA,2,None,False,0,1010,1030,1020,1020,1000,1010,36
19,21,0,None,0,West Ham,0,0,0,WHU,3,None,False,0,1140,1170,1150,1160,1170,1180,25
20,39,0,None,0,Wolves,0,0,0,WOL,3,None,False,0,1160,1190,1180,1220,1100,1170,38

In [6]:
#player_summary, player_hist, player_fixtures, player_future = fpl.get_players()

In [10]:
player_dfs = fpl.get_players()

In [7]:
fixtures = fpl.get_fixtures()

In [12]:
#Clean the Player Summary Table
player_summary = player_dfs[0]
convert_dict = {'value_season': float} 
player_summary = player_summary.astype(convert_dict)
player_summary['team'] = player_summary.team_code.map(teams.set_index('code').name)

In [33]:
#Clean the Player Fixtures Table
player_fixtures = player_dfs[2]
convert_dict_fixture = {
    'element': int
}

player_lookup = player_summary[['web_name', 'element_type', 'team', 'minutes']]
player_fixtures = player_fixtures.astype(convert_dict_fixture)

player_fixtures = pd.merge(player_fixtures, player_lookup, left_on='element', right_on='id', how='left')

In [34]:
player_fixtures

,element,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes_x,goals_scored,...,ict_index,value,transfers_balance,selected,transfers_in,transfers_out,web_name,element_type,team,minutes_y
0,1,8.0,0.0,False,2020-09-12T11:30:00Z,0.0,3.0,1.0,0.0,0.0,...,0.0,70.0,0.0,76656.0,0.0,0.0,Özil,3,Arsenal,0
1,1,19.0,0.0,True,2020-09-19T19:00:00Z,2.0,1.0,2.0,0.0,0.0,...,0.0,69.0,-16828.0,68335.0,995.0,17823.0,Özil,3,Arsenal,0
2,1,11.0,0.0,False,2020-09-28T19:00:00Z,3.0,1.0,3.0,0.0,0.0,...,0.0,69.0,-11451.0,59793.0,675.0,12126.0,Özil,3,Arsenal,0
3,1,15.0,0.0,True,2020-10-04T13:00:00Z,2.0,1.0,4.0,0.0,0.0,...,0.0,68.0,-5324.0,56403.0,647.0,5971.0,Özil,3,Arsenal,0
4,1,12.0,0.0,False,2020-10-17T16:30:00Z,1.0,0.0,5.0,0.0,0.0,...,0.0,68.0,-4224.0,53689.0,616.0,4840.0,Özil,3,Arsenal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11031,617,18.0,0.0,True,2021-01-16T12:30:00Z,2.0,3.0,19.0,0.0,0.0,...,0.0,40.0,4960.0,20399.0,6620.0,1660.0,Söndergaard,1,Wolves,0
11032,626,7.0,1.0,True,2021-01-12T20:15:00Z,1.0,2.0,18.0,12.0,0.0,...,0.0,60.0,1407.0,2787.0,1641.0,234.0,Cutrone,4,Wolves,23
11033,626,18.0,1.0,True,2021-01-16T12:30:00Z,2.0,3.0,19.0,11.0,0.0,...,0.2,60.0,503.0,1989.0,1199.0,696.0,Cutrone,4,Wolves,23
11034,629,7.0,0.0,True,2021-01-12T20:15:00Z,1.0,2.0,18.0,0.0,0.0,...,0.0,40.0,0.0,0.0,0.0,0.0,Lonwijk,2,Wolves,0
11035,629,18.0,0.0,True,2021-01-16T12:30:00Z,2.0,3.0,19.0,0.0,0.0,...,0.0,40.0,247.0,681.0,304.0,57.0,Lonwijk,2,Wolves,0